<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unisportbern"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unisport_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       
       <activity
        android:name="ch.unibe.unisportbern.views.DetailsActivity"
        android:label="@string/app_name"
		android:parentActivityName="ch.unibe.unisportbern.views.MainActivity">           
       </activity>
       
       <activity
        android:name="ch.unibe.unisportbern.views.details.DActivity"
        android:label="@string/app_name"
        android:parentActivityName="ch.unibe.unisport.views.MainActivity">
       </activity>
       
       
        <activity
            android:name="ch.unibe.unisportbern.views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
